/*********** RESET **************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, li {
  outline-color: #fff; }

input, select {
  outline: none;
  apperance: none;
  border: none;
  padding: 0; }

input[type="submit"] {
  cursor: pointer; }

a {
  text-decoration: none;
  color: black; }

/*********** BODY **************/
body {
  font-family: 'klavika-web', 'Open Sans', sans-serif;
  background: #e5e5e3;
  overflow: hidden;
  width: 100%;
  height: 100%; }

#home {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 60px;
  overflow: hidden;
  background-color: #d8d8d8; }
  #home #generation {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 120px; }
    #home #generation h2 {
      font-size: 4em;
      text-align: center;
      color: #a0a0a0; }
    #home #generation h3 {
      font-size: 6em;
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      color: #4a4a4a; }
  #home #timeline {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #e1e1e1; }
    #home #timeline .interTime {
      position: relative;
      display: block;
      overflow: hidden;
      float: left;
      height: 60px;
      top: 0px; }
    #home #timeline .time {
      position: relative;
      float: left;
      width: 20px;
      height: 60px;
      top: 0px; }
      #home #timeline .time:hover {
        cursor: pointer; }
        #home #timeline .time:hover .smallTimeL, #home #timeline .time:hover .smallTimeR {
          height: 30px;
          transition: height 0.1s; }
        #home #timeline .time:hover .fullTimeL, #home #timeline .time:hover .fullTimeR {
          height: 50px;
          transition: height 0.1s; }
      #home #timeline .time .smallTimeL {
        position: absolute;
        width: 10px;
        height: 20px;
        bottom: 0px;
        left: 0;
        border-right: 1px solid #bcbcbc;
        transition: height 0.4s; }
      #home #timeline .time .smallTimeR {
        position: absolute;
        width: 10px;
        height: 20px;
        bottom: 0px;
        right: 0;
        border-left: 1px solid #bcbcbc;
        transition: height 0.4s; }
      #home #timeline .time .fullTimeL {
        position: absolute;
        width: 10px;
        height: 40px;
        bottom: 0px;
        left: 0;
        border-right: 2px solid #bcbcbc;
        transition: height 0.4s; }
      #home #timeline .time .fullTimeR {
        position: absolute;
        width: 10px;
        height: 40px;
        bottom: 0px;
        right: 0;
        border-left: 2px solid #bcbcbc;
        transition: height 0.4s; }
      #home #timeline .time span {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        transform: translateX(-30px);
        width: 80px;
        text-align: center; }

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  background: url(../img/logo.png) no-repeat 50% 50% #9b9b9b;
  background-size: cover;
  cursor: pointer; }

#categorie {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #d8d8d8;
  display: none; }
  #categorie #version {
    position: absolute;
    width: 80px;
    top: 70px;
    text-align: center;
    font-size: 30px; }
  #categorie #nav {
    height: 100%;
    position: fixed;
    background-color: #4a4a4a;
    z-index: 10; }
  #categorie .minNav {
    width: 80px;
    transition: width 0.3s ease-out; }
    #categorie .minNav .text {
      display: none; }
  #categorie .fullNav {
    width: 250px;
    transition: width 0.2s ease-out; }
    #categorie .fullNav .text {
      display: inline-block; }
  #categorie ul {
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%); }
    #categorie ul li {
      padding: 10px 0 10px 30px; }
      #categorie ul li:hover {
        font-weight: bold;
        cursor: pointer; }
        #categorie ul li:hover .point {
          background-color: rgba(239, 240, 242, 0.5); }
    #categorie ul .point {
      width: 15px;
      height: 15px;
      border: rgba(239, 240, 242, 0.5) 1px solid;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle; }
    #categorie ul .select {
      opacity: 1; }
    #categorie ul .unselect {
      opacity: 0.5; }
    #categorie ul .text {
      color: #eff0f2;
      vertical-align: middle;
      padding: 0 0 0 25px; }
  #categorie #content {
    width: 600px;
    height: 100vh;
    position: absolute;
    display: block;
    left: 80px;
    right: 0;
    top: 0; }
    #categorie #content .pokemon {
      width: 270px;
      height: 270px;
      border: 1px solid rgba(239, 240, 242, 0.5);
      float: left; }
    #categorie #content .hide {
      display: none; }
    #categorie #content .view {
      display: inherit; }
  #categorie .searchField {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    background: #4b4b4b; }
    #categorie .searchField input {
      position: relative;
      top: 20px;
      left: 20px;
      background: url(../img/search-dark.png) no-repeat 10px 6px #444;
      border: 0 none;
      font: bold 12px Arial,Helvetica,Sans-serif;
      color: #777;
      width: 45%;
      padding: 6px 15px 6px 35px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
      -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset; }
    #categorie .searchField .results .title {
      color: aliceblue; }

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  background-color: #d8d8d8;
  display: none; }

.container {
  width: 1200px;
  height: 100%;
  margin: 0 auto; }

.controls {
  width: 100%;
  height: 60px;
  position: relative; }
  .controls .back {
    width: 40px;
    height: 40px;
    background: url("../img/arrowL.svg") no-repeat;
    position: absolute;
    top: 10px;
    left: 0;
    bottom: 10px; }
  .controls .close {
    width: 40px;
    height: 40px;
    background: url("../img/cross.svg") no-repeat;
    position: absolute;
    top: 10px;
    left: 50%;
    right: 50%;
    bottom: 10px;
    transform: translateX(-50%); }
  .controls .next {
    width: 40px;
    height: 40px;
    background: url("../img/arrowR.svg") no-repeat;
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 10px; }

#view3d {
  width: 520px;
  height: 750px;
  float: left; }

.caracteristique {
  width: 680px;
  height: 750px;
  float: right; }
  .caracteristique h2 {
    font-size: 2em;
    padding: 40px 40px 40px 20px; }
  .caracteristique p {
    font-size: 1.2em;
    padding: 20px 40px 20px 20px;
    line-height: 1.4em; }
  .caracteristique table {
    background-color: #ebebeb;
    margin: 20px;
    border-radius: 5px;
    width: 620px; }
    .caracteristique table td {
      padding: 20px; }
      .caracteristique table td strong {
        font-weight: bold; }
