$colorNav : #4a4a4a;

#categorie{

  width: 100%; height: 100vh;
  top: 0; left: 0; right: 0; bottom: 0;
  overflow: hidden;
  background-color: #d8d8d8;
  display: none;

  #version{
    position: absolute;
    width: 80px;
    top: 70px;
    text-align: center;
    font-size: 30px;
  }

  #nav {
    height: 100%;
    position: fixed;
    background-color: #4a4a4a;
    z-index: 10;
  }

  .minNav{
    width: 80px;
    transition: width 0.3s ease-out;
    .text{
      display: none;
      transition: display 0.3s ease-out;
    }
  }	

  .fullNav{
    width: 250px;
    transition: width 0.2s ease-out;
    .text{
      display: inline-block;
      transition: display 0.3s ease-out;
    }
  }


  ul{

    position: relative;
    top: 53%; 
    transform: translateY(-50%);
    margin-left: 20px;

    li{

      margin-top: 5px;

      .point{

        width: 40px;
        height: 40px;

        img{

          width: 100%;

        }

      }

      &:hover{

        font-weight: bold;
        cursor: pointer;

      }
    }

    .point{
      width: 15px; height: 15px;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;			
    }

    .select{
      opacity: 1;
    }

    .unselect{
      opacity: 0.3;
    }

    .text{
      color: rgba(239,240,242,1);
      vertical-align: middle;
      padding: 0 0 0 25px;
    }

  }

  #content{
    width: 600px;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    left: 80px; right: 0; top: 0;

    .pokemon{
      width: 270px; 
      height: 270px;
      border: 1px solid rgba(239,240,242,0.5);
      justify-content: flex-start;
      
      img{
        width: 60%;
      }
    }

    .hide{
      display: none;
    }

    .view{
      display: inherit;
    }

  }

  .line{
    width: 75%;
    height: 2px;
    background: #eee;
    margin-top: 5px;
  }

  
	#search{
		position: fixed;
		top: 20px; right: 20px;
		background: url(../img/search-dark.png) no-repeat 10px 6px #444;
		border: 0 none;
		font: bold 12px Arial,Helvetica,Sans-serif;
		color: #777;
		width: 5%;
		padding: 6px 15px 6px 35px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
		-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	}

  .searchField{
    overflow-y: auto; 
    position: fixed;
    top: 0; 
    right: -200px;
    width: 200px;
    height: 100%;
    background-color: #4A4A4A;

    .results{

      margin-top: 70px;
      margin-left: 10px;

      .type, .ability, .move{
        
        font-size: 18px;
        color: #eee;
        
      }
      
      .title{

        font-size:30px;
        color:#fff;
        margin-top: 10px;
        margin-left: 5px;
        margin-bottom: 5px;

      }

    }

  }
  
  //img{width: 80%; height: auto;}

}

