#categorie{
	
	width: 100%;
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	overflow: hidden;
	background-color: #d8d8d8;
	
	#version{
		position: absolute;
		width: 80px;
		top: 70px;
		text-align: center;
		font-size: 30px;
	}
	
	#nav {
		height: 100%;
		position: fixed;
		background-color: #4a4a4a;
		z-index: 10;
	}
	
	.minNav{
		width: 80px;
		
		.text{
			display: none;
		}
		
	}	
	.fullNav{
		width: 250px;
		
		.text{
			display: inline-block;
		}
	}
	
	
	ul{
		
		position: relative;
		top: 50%; bottom: 50%;
		transform: translateY(-50%);
		
		li{
			padding: 10px 0 10px 30px;
		}
		
		.point{
			width: 15px; height: 15px;
			border: rgba(239,240,242,0.5) 1px solid;
			border-radius: 50%;
			display: inline-block;
			vertical-align: middle;
			
			&:hover{
				background-color: rgba(239,240,242,0.5);
				cursor: pointer;
			}
			
		}
		
		.text{
			color: rgba(239,240,242,1);
			vertical-align: middle;
			padding: 0 0 0 25px;
		}
	
	}
	
	#content{
		width: 100%; height: 100%;
		position: fixed;
		left: 80px; right: 0; top: 0; bottom: 0;
	
		.pokemon{
			width: 270px; 
			height: 270px;
			border: 1px solid rgba(239,240,242,0.5);
			float: left;
		}
	}

}

