#loader-container{
	
	position: absolute;
	z-index: 1000;
	width: 816px;
	height: 136px;
	top: 50%;
    left: 50%;	
    margin-top: -68px;
    margin-left: -408px;
	
	#loader{
		
		position: relative;
		height: 100%;
		width: 100%;
		
		.img-loader{
			background-attachment: fixed;
			background-repeat: no-repeat;
			height: 100%;
			width: 116px;	
			opacity: 0;
			transition: opacity 0.4s;	
			display: inline-block;
		}
		
		#img-loader1{
			background: url('../img/img-loader1.png') center center;
		}
		
		#img-loader2{
			background: url('../img/img-loader2.png') center center;
		}    
		
		#img-loader3{
			background: url('../img/img-loader3.png') center center;
		}
		
		#img-loader4{
			background: url('../img/img-loader4.png') center center;
		}
		
		#img-loader5{
			background: url('../img/img-loader5.png') center center;
		}
		
		#img-loader6{
			background: url('../img/img-loader6.png') center center;
		}
		
		#img-loader7{
			background: url('../img/img-loader7.png') center center;
		}
		
		.img-active{
			opacity: 1;
		}
		
	}
	
}